.portfolio__container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
}

.portfolio__item {
  background-color: var(--color-bg-variant);
  padding: 0.7rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  box-shadow: none;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background-color: black;
  box-shadow: 0 0 3em var(--color-primary-variant);
}
.portfolio__item:hover .portfolio__item-img {
  border-radius: 1.5rem;
}

.portfolio__item-img {
  border-radius: 9.5rem;
  overflow: hidden;
  transition: var(--transition);
}
/* .portfolio__item-img:hover {
  border-radius: 1.5rem;
} */
.portfolio__item h2 {
  font-weight: bold;
  text-align: center;
  margin: 0.8rem 0 0.1rem;
}
.portfolio__item h3 {
  text-align: center;
  font-weight: lighter;
  color: var(--color-light);
  margin: 0.2rem 0 0.1rem;
}

.portfolio__item-cta {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

/* ============== Med Devices(ipad) ============== */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============== Small Devices(phone) ============== */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
