body {
    margin: 0;
    padding: 0;
    background: #2f3640;
}


div.gallery {
  margin: 10px;
  float: left;
  width: 180px;
  transition: .5s ease;
}

div.gallery:hover {
  opacity: .6;
  transform: scale(1.05);
}

div.gallery img {
    border-radius: 30px;
  width: 100%;
  height: auto;
}

div.desc {
    font-family: 'Calibri';
    color: #ccc;
    background: #2f3640;
    padding: 8px;
    text-align: center;
}


.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }