.wrapper {
    font-family: 'Kanit', sans-serif;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

h1 {
    color:  #f0f0f0;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 60px
}

h3 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 30px
}

img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

img.rounded-corners {
    border-radius: 30px;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background:rgb(43, 43, 43);
}

.overlay {
    opacity: 0
}

.wrapper:hover img {
    opacity: .2;
    transform: scale(1.08);
}

.wrapper:hover .overlay {
    opacity: 1
}

.container {
    width: 1200px;
    overflow: hidden;
    height: auto;
    margin: 4px auto;
    padding: 5px;
}

table,
tr,
td {
    border: black solid 1px;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto
}

.card img {
    width: 180px;
}